/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
 
.portfolio-item {
	position: relative;

}

.front {
	position: relative;
	opacity: 1;	
}

.back {
	position: absolute; 
	top: 0px; 
	left: 0px;
	opacity: 0;
	transition: opacity 2s;
	 
}


.portfolio-item:hover .back {
  
opacity: 1;
transform: rotate(180deg);
}